@import url('/static/fonts/fonts.css');

:root{
    --red: #CC0000;
    --orange: #CC6E00;
    --yellow: #C8C81A;
    --green: #09CF64;
    --blue: #097ACF;
    --purple: #9309CF;
    --gold: #B79835;
    --silver: #A6A6A6;
    --light-grey: #6E6E6E;
    --dark-grey: #282828;
    --box-height: 4vw;
    --box-width: 60vw;
    --box-border: 0.25vw;
    --name-row: 1.25vw;
    --mascot-row: 2.25vw;
    --bottom-offset: 5vh;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: black;
    overflow: hidden;
}

#scorebox{
    width: var(--box-width);
    height: var(--box-height);
    position: absolute;
    bottom: var(--bottom-offset);
    left: 20vw;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 0;
    place-items: center;
    align-items: center;
    border: var(--box-border) solid var(--light-grey);
    background: var(--dark-grey);
    box-sizing: border-box;
    font-family: 'Open Sans';
    color: white;
    transition: border-color 0.5s, bottom 0.5s;
}

#clock{
    background: var(--dark-grey);
    width: 10vw;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: var(--mascot-row) var(--name-row);
}

#set-score{
    font-size: 1.55vw;
    font-weight: 600;
    padding-bottom: 0.45vw;
    text-align: center;
}

#current-set{
    padding-bottom: 0.45vw;
    font-size: 1.25vw;
    font-weight: 700;
    text-align: center;
}

.alert-box{
    width: var(--box-width);
    height: calc(var(--name-row) + 0.25vw);
    position: absolute;
    bottom: calc(var(--box-height) + var(--bottom-offset));
    left: 20vw;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 1vw;
    font-family: 'Open Sans';
    font-weight: 700;
    text-transform: uppercase;
    transform: translateY(0vw);
    transition: transform 0.5s, bottom 0.5s;
    color: white;
    background-color: var(--light-grey);
}

.alert-box.hidden{
    transform: translateY(calc(var(--name-row) + 0.25vw));
}

.alert-box.team-alert{
    width: 25vw;
}

.alert-box.team-flag{
    width: 25vw;
    background-color: var(--flag-yellow);
    color: var(--dark-grey);
    transform: translateY(calc(var(--name-row) + 0.25vw));
}

.alert-box.home-alert{
    left: 20vw
}

.alert-box.visitor-alert{
    right: 20vw;
    left: unset;
}

.letter-spacing-bug{
    opacity: 0;
}

.team-box{
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: var(--name-row) var(--mascot-row);
}

.team-box.red, .summary-box.red, .touchdown.red, .bg.red{
    background: var(--red);
}

.team-box.orange, .summary-box.orange, .touchdown.orange, .bg.orange{
    background: var(--orange);
}

.team-box.yellow, .summary-box.yellow, .touchdown.yellow, .bg.yellow{
    background: var(--yellow);
}

.team-box.green, .summary-box.green, .touchdown.green, .bg.green{
    background: var(--green);
}

.team-box.blue, .summary-box.blue, .touchdown.blue, .bg.blue{
    background: var(--blue);
}

.team-box.purple, .summary-box.purple, .touchdown.purple, .bg.purple{
    background: var(--purple);
}

.team-box.gold, .summary-box.gold, .touchdown.gold, .bg.gold{
    background: var(--gold);
}

.team-box.silver, .summary-box.silver, .touchdown.silver, .bg.silver{
    background: var(--silver);
}

.team-logo{
    grid-area: logo;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
    background-size: cover;
    aspect-ratio: 1/1;
    font-family: 'Open Sans';
}

.team-mascot{
    grid-area: mascot;
    width: 90%;
    font-size: 2vw;
    font-weight: 700;
    text-transform: uppercase;
}

.team-name{
    grid-area: name;
    font-size: 1.15vw;
    width: 90%;
    font-weight: 600;
    padding-top: 0.65vw;
    text-transform: uppercase;
}

.team-score{
    grid-area: score;
    background-color: rgba(1,1,1,0.3);
    height: 100%;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    font-family: 'Open Sans';
    font-weight: 700;
    aspect-ratio: 1/1;
}

#home{
    grid-template-areas: "logo name score" "logo mascot score";
    grid-template-columns: auto 1fr auto;
    text-align: right;
}

#home .team-logo, .home.team-logo{
    background-image: url("/home");
}

#visitor{
    grid-template-areas: "score name logo" "score mascot logo";
    grid-template-columns: auto 1fr auto;
    text-align: left;
}

#visitor .team-logo, .visitor.team-logo{
    background-image: url("/visitor");
}

.hide{
    display: none;
    opacity: 0;
}

#scorestate{
    width: 10.5vw;
    height: 12vw;
    position: absolute;
    bottom: var(--bottom-offset);
    left: var(--bottom-offset);
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
    place-items: center;
    align-items: center;
    border: var(--box-border) solid var(--light-grey);
    background: var(--dark-grey);
    box-sizing: border-box;
    font-family: 'Open Sans';
    color: white;
}

.summary-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.summary-logo{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1/1;
}

.home.summary-logo{
    background-image: url('/home');
}

.visitor.summary-logo{
    background-image: url('/visitor');
}

.summary-score{
    background-color: rgba(1,1,1,0.3);
    height: 5vw;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 3.75vw;
    font-family: 'Open Sans';
    font-weight: 700;
    aspect-ratio: 1/1;
}

#summary-tag{
    height: 1.5vw;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    place-content: center;
    font-size: 1.2vw;
    color: #edab40;
    text-transform: uppercase;
}

.animate-out{
    transition: bottom 0.5s, left 0.5s, transform 0.5s;
}

div.animate-out.out{
    bottom: calc(var(--bottom-offset) * -1 - var(--box-height)) !important;
}

#scorestate.animate-out.out{
    bottom: var(--bottom-offset) !important;
    left: calc(var(--bottom-offset) * -1 - 10.5vw);
}